<section id="top">
  <div class="top-wrapper mb-4">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <!-- スライドさせる画像の設定 -->
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="3000">
          <img src="<%= asset_path "top/top_img.jpg" %>" class="d-block w-100" alt="第1スライド">
        </div><!-- /.carousel-item -->
        <div class="carousel-item" data-bs-interval="3000">
          <img src="<%= asset_path "top/top1_img.jpeg" %>" class="d-block w-100" alt="第2スライド">
        </div><!-- /.carousel-item -->
        <div class="carousel-item" data-bs-interval="3000">
          <img src="<%= asset_path "top/top2_img.jpeg" %>" class="d-block w-100" alt="第3スライド">
        </div><!-- /.carousel-item -->
      </div><!-- /.carousel-inner -->
    </div><!-- /.carousel -->
    <div class="top_message">
      <h2>個サルをきっかけに気軽に仲間を作ろう</h2>
      <p>個サルに行っても繋がりが出来ない...<br>そんな経験から生まれたサービスです</p>
      <p>個サル・・個人参加型フットサル。その日フットサル場に集まった人たちでフットサルをすること。</p>
    </div>
  </div>
</section>
