  <% if current_user.metooed_by?(post.id) %>
    <%= link_to post_metoo_path(post.id), class: "metoo-format", method: :delete, remote: true do %>
      <div class="fas fa-hand-paper"></div>
    <% end %>
      <span>行ったよ</span>
      <%= post.metoos.count %>
  <% else %>
    <%= link_to post_metoos_path(post.id), class: "metoo-format", method: :post, remote: true do %>
      <div class="far fa-hand-paper"></div>
    <% end %>
      <span>行ったよ</span>
    <%= post.metoos.count %>
  <% end %>
