<h2>ユーザーの詳細ページ</h2>
<%= @user.name %>
<hr>
  <% @user.posts.each do |post| %>
    <%= link_to(post.title, "/posts/#{post.id}") %>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  <% end %>