/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 $fa-font-path: '@fortawesome/fontawesome-free/webfonts';
 @import "font-awesome-sprockets";
 @import "font-awesome";
 @import "top";
//  @import "bootstrap";

/*ページネーション自体のデザイン*/
.pagination>li>a {          
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {     
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {        
  border-radius: 15px;    /*角を丸くする*/
}

.pagination {
  justify-content: center;
}

.stats {
  margin: 5px 0;
}

a {
  text-decoration: none;
}


#main_wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body{
  background-color: #f5faff;
  color: #555555;
  line-height: 2;
  font-family: 'Helvetica Neue','Helvetica','Arial','YuGothic','Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', 'Meiryo','ＭＳ ゴシック',sans-serif;
  font-size: 1.6rem;
}
.container{
  margin: auto;
  padding: 0;
}
.small-container{
  margin: auto;
  padding: 0 100px 0 100px;
}
.navbar-brand {
  font-size: 30px;
  margin: 0 50px 0 20px ;
}
.nav-item {
  font-size: 20px;
  :hover{
    color: white;
    text-decoration: none;
  }
}.dropdown-menu {
  background-color: #f5faff;
}
.dropdown-item {
  color: #555555;
}
.dropdown-item:hover{
  background-color: #CCCCCC;
}

.myicon {
  margin: 0 0 0 auto;
  position:relative;
  display:inline-block;
  cursor:pointer;
  img{
    margin-right: 8px;
    position: relative;
    z-index: 9999;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}

footer{
  margin-top: auto;
}

