<footer class="footer">
  <div class="footer__wrapper">
    <h4 class="footer__wrapper__h4">
      <a href="/">Co-sal Board</a>
    </h4>
    <div class="footer__wrapper__copylight">
      <span>©︎2021 Co-sal Board All Rights Reserved.</span>
    </div>
  </div>
</footer>