<header> 
   <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">Co-sal Board</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  </div>
    <% if user_signed_in? %>
        <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/posts">トップ <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/posts/new">投稿画面へ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/edit">アカウント編集</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-method="delete" href="/users/sign_out">ログアウト</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0"> 
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
    <% else %>
    <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      <li class="nav-item">
        <a class="nav-link" href="about">Co-sal Boardとは?</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-method="post" href="/users/guest_sign_in">ゲストユーザーログイン</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/sign_in">ログイン</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/sign_up">ユーザー登録</a>
      </li>
    <% end %>
</header>





